@media (min-width: 800px) {
  .App{
    width: 100%;
    margin: auto;
    height: 100%;
  }
  .Contents_App{
    width: 60%;
    margin: auto;
    height: 100%;
  }
}
.user_post{
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.postAvatar{
  width: 60px;
}
.post-Avatar{
  margin: auto;
}
.signinbbtn{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-evenly;
}
a{
  text-decoration: none;
}

.create-profile{
  text-align: center;
  width: 86%;
  margin: auto;
}
.profile-image-upload{
  margin: auto;
}
.profile-image-upload-preview{
  margin: auto;
  text-align: center;
}
.user-handle{
  margin-top: 0px;
}
.profile-user-name{
  text-transform: capitalize;
}
.profil-box{
  box-shadow: 0px 0px 20px 9px #0a0a051e;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  padding: 2px;
  -o-border-radius: 12px;
  margin: auto;
  margin-bottom: 12px;
  width: 98%;
}
.rounded-circle{
  width: 50px;
  height: 50px;
  margin: auto;
  box-shadow: 0px 0px 20px 20px #0a0a051e;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.rounded-circle img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.single-profile{
  text-align: center;
}
.profile-img {
  width: 30px;
  height: 30px;
  margin: auto;
}

.makeStyles-root-1 {
  width: 100%;
  max-width: 360px;
  background-color: transparent!important;
}
.MuiTypography-colorTextSecondary {
  color: rgba(189, 189, 189, 0.54)!important;
}
.comment-box-container{
  width: 90%;
  margin: auto;
}
 a span{
  text-decoration: none;
  color:rgb(47, 119, 215)
}
img {
  width: 100%;
}



.wrapper{
  width: 90%;
  margin: auto;
  text-align: center;
}

.nav {
  display: flex;
  width: 100%;
  padding: 0px;
}
.nav li{
list-style: none;
}
.navbar-holder{
  padding: 0px;
    width: 97%;
    margin: auto;
}
.landing {
  position: relative;
  background:white;;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color:rgb(0, 0, 0);
  margin-top: -24px;
  margin-bottom: -50px;
  justify-content: center;
}
.textAlign-center{
  text-align: center;
}
.landing-inner {
  padding-top: 50px;
}

.btn-normal {
    width: 100px;
    outline: none;
    padding: 0.5rem;
    text-align: center;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    /* -webkit-border-radius: 12px; */
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    text-decoration: none;
    text-decoration: none;
    background: linear-gradient(90deg, #0D47A1, #2196f385);
    color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.246);
    box-shadow: -1px 0px 17px 0px rgba(0, 132, 255, 0.38);
}

.btn-normal:hover{
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0);
}
.btn-submit:hover{
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0);
}
.dark-overlay {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.h-spacer{
  height: 50px;
}
.v-spacer{
  flex: 1;
}
.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}
.side-link{
  display: flex;
  flex-direction: row;
}
.side-link>.header-item> a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.header-brand{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-style: bold;
}

.container{
  margin: auto;
}
small{
  font-size: 14px;
}
.btn-submit {
  width: 100px;
  outline: none;
  /* padding: 0.5rem; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1rem;
  /* -webkit-border-radius: 12px; */
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  text-decoration: none;
  text-decoration: none;
  background: linear-gradient(90deg, #0D47A1, #2196f385);
  color: rgb(255, 255, 255);
}
.btn-submit-login{
  outline: none;
  width: 100px;
  background: #2196F3;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 5px;
  box-shadow: 0px 0px 7px 3px #00000059;
}
.header-item {
  margin-right: 10px;
}
.register{
    display: block;
    text-align: center;
    width: 80%;
    margin: auto;
}



.form-group-txf
{
  margin-bottom: 5px;
  width: auto;
  margin: auto;
}
.form-alart{
  font-size: 10px;
  color: rgb(25, 165, 0);
}
.color-green{
  color : #002a1b
}
.login{
  text-align: center;
    display: block;
    text-align: center;
    width: 80%;
    margin: auto;
}
.danger-text{
  font-size: 10px;
  width: 60%;
  border-radius: 15px;
  margin: auto;
  margin-top: 3px;
  color: rgb(248, 248, 248);
  padding: 3px;
  background-color: rgb(238, 25, 25);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.list-item{
  text-align: center;
  font-size: 15px;
}
.btn-icon{
  width: 25px;
  height: 25px;
  border:none;
  background-color: transparent;
  border-radius: 50%;
  outline: none;
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;

}
.btn-icon-smaller{
  width: 17px;
  height: 17px;
  border:none;
  background-color: transparent;
  border-radius: 50%;
  outline: none;
  background-position: center;
  background-size: 15px;
  background-repeat: no-repeat;
 
}

.btn-icon-post{
  width: 25px;
  height: 25px;
  border:none;
  background-color: transparent;
  border-radius: 50%;
  outline: none;
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
  outline: none;
 
}
.btn-icon:hover{
  outline: none;
}
.btn-icon:active{
  outline: none;
  width: 26px;
  height: 26px;
  background-size: 24px;
}
.btn-icon:focus{
  outline: none;
  width: 26px;
  height: 26px;
  background-size: 24px;
}
.btn-icon:target{
  outline: none;
  width: 26px;
  height: 26px;
  background-size: 24px;
}

.big-btn-icon{
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 10%;
  right: 10%;
  background-color: rgb(71, 0, 0);
  border:none;
  color:rgb(59, 0, 0);
  border-radius: 20px;
  outline: none;
  background-position:center;
  background-size: 40px;
}

.edit-profile-btn{
   width: 76px;
   height: 27px;
   border: 1px solid white;
}

.profile-preview-img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: auto;
  box-sizing: border-box;
  background-color: rgb(226, 226, 226);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.profile-preview-img img{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 100px;
  height: 100px;
}
.profileinputbtn{
  margin: auto;
  width: 80px;
}
.speed-dail{
  z-index: 60;
}
.dail-root{
  position: fixed;
}