.dashboard{
    width: 95%;
    height: 100%;
    margin: auto;
    text-align: center;
}
.followingAndFollowers{
    display: flex;
    margin-top: 1rem;
    overflow-y: scroll;
    margin-top: 20px;
}
.singleUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
}
.image-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-container img{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 100px;
    border-radius: 50%;
    height: 100px;
}
.top-container{
    display: flex;
    margin-bottom: 1rem;
}
.name{
    margin:0rem 0.8rem;
    text-transform: capitalize;
    font-size: 0.9rem;
}

.dashboard-footer{
    padding: 0.3rem;
    margin-top: 1rem;
}
.bio{
    padding: 0.6rem;
}
.btn-add-experience{
    padding: .4rem;
    box-shadow: 0px 0px 10px 0px #00000040;
    border-radius: 50px;
    text-decoration: none;
    margin-right: 20px;
}
.name-handle{
    color: #000000;
}