.setting-wraper{
 width: 90%;
 margin: auto;
}
.setting-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.setting-page{
    height : 100vh;
}
.setting-top{
    font-size: 30px;
    font-weight: 500;
}
.setting-box{
    background: linear-gradient(45deg, #007e8a, #00e16de6);
    color: white;
    margin: auto;
    padding: .6rem;
    border-radius: 20px;
    box-shadow: 0px 19px 20px -10px #000000b8;
    margin-top: 15px;
}
.setting-box-content{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}